.Weather {
  background-color: rgb(191, 212, 218);
  box-shadow: 0px 0px 10px rgb(194, 194, 194);
  border: rgb(191, 212, 218);
  border-radius: 4px;
  padding: 40px;
}
.Weather p {
  margin-bottom: 0px !important;
  padding: 0;
}


.Weather.form-control{
  font-size: 16px;
}
.Weather canvas {
  position: relative;
  bottom: -7px;
  height: 70px;
  width: 70px;
  margin-right: 10px;
  opacity: 0.6;
}
.typeSky {
  text-transform: capitalize;
}
.units {
  color: black;
  position: relative;
  top: -45px;
}
.cityNow {
  text-align: right;
}
.WeatherInfo {
  margin-top: 30px;
  /* margin: 20px 0 30px 0; исправить потом*/ 
}
.temperature {
  font-size: 80px;
  line-height: 1;
}
.city {
  font-size: 70px;
  margin-bottom: 0px;
  line-height: 1;
}
.dayTemperature,
.units,
.dayIndicators,
.data,
.typeSky {
  font-size: 16px;
}
.dayIndicators {
  padding-top: 10px;
}
/* .forecast {
  text-align: center;
  font-size: 25px;
}
.card {
  background-color: rgb(154, 172, 177);
  border: rgb(154, 172, 177);
} */

/* a {
  color: black;
  text-decoration: none;
  opacity: 0.5;
}
a:hover {
  font-weight: 900;
  color: black;
  transition: all 200ms ease-in-out;
  opacity: 1;
} */
@media (max-width: 800px) {
    .Weather{
      padding: 10px !important;
    }
    .form-control{
      font-size: 10px !important;
    }
    .WeatherInfo {
      margin: 20px 0 10px 0;
    }
    .temperature{
      font-size: 30px;
    }
    .city {
      font-size: 30px;
    }
    .dayTemperature,
    .units,
    .dayIndicators,
    .data,
    .typeSky,
    .tempNextDay {
      font-size: 10px;
      /* font-weight:bolder; */
    }
    .units {
      color: black;
      position: relative;
      top: -15px;
    }
    .Weather canvas {
      height: 30px;
      width: 30px;
      bottom: -5px;
    }
    .dayIndicators {
      padding-top: 0px;
    }
    
    /* .forecast{
      font-size: 12px;
    } */
}