.Weather {
  background-color: #ebebde;
  box-shadow: 0px 0px 10px rgb(194, 194, 194);
  border: #ebebde;
  border-radius: 4px;
  padding: 40px;
}
.Weather p {
  margin-bottom: 0px;
}
.Weather a {
  color: black;
  text-decoration: none;
  opacity: 0.4;
}
.Weather a:hover {
  color: black;
  transition: all 200ms ease-in-out;
  opacity: 1;
}
.Weather.form-control{
  font-size: 16px;
}
.typeSky {
  text-transform: capitalize;
}
.units {
  color: black;
  position: relative;
  top: -38px;
}
.cityNow {
  text-align: right;
}
.WeatherInfo {
  margin: 20px 0;
}
.city,
.temperature {
  font-size: 70px;
  line-height: 1;
  padding-bottom: 30px;
}
.dayTemperature,
.units,
.dayIndicators,
.data,
.typeSky {
  font-size: 16px;
}

@media (max-width: 800px) {
    .Weather{
      padding: 10px !important;
    }
    .Weather .form-control{
      font-size: 10px !important;
    }
    .WeatherInfo {
      margin: 20px 0 10px 0;
    }
    .temperature,
    .city{
      font-size: 30px;
      padding-bottom: 10px;
    }
    .dayTemperature,
    .units,
    .dayIndicators,
    .data,
    .typeSky {
      font-size: 10px;
    }
    .units {
      color: black;
      position: relative;
      top: -15px;
    }
}