.WeatherInfo {
    margin-bottom: 20px;
}

.WeatherInfo img {
    position: relative;
    top: -20px;
    height: 90px;
    width: 90px;
    line-height: 1;
}

@media (max-width: 800px) {
    .WeatherInfo {
        margin-bottom:15px;
    }
    .WeatherInfo img {
        height: 40px;
        width: 40px;
        top: -7px;
    }
}
